<!-- Footer -->
<footer class="page-footer small p-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center">

      <div class="row">
        <div class="col">
          <span class="px-2">
            &copy; <%= new Date().getFullYear() %>
            <a href="<%= MASTER_URL %>"><%= MASTER_DOMAIN %></a>
          </span>
          <a class="px-2" href="/about.html">About</a>
          <a class="px-2" href="/privacy.html">Privacy</a>
          <a class="px-2" href="/terms.html">Terms</a>
          <a class="px-2" href="mailto:<%= SITE_EMAIL %>">Contact</a>
        </div><!-- col -->
      </div><!-- row -->

      <div class="d-none row p-3">
        <div class="col">
          <h6>
          Get your FREE <a class="btn btn-info" href="<%= MASTER_URL %>">
          <img class="logo rounded-circle" src="/media/logoLight.png"/>
          <%= SITE_NAME %></a> blog
          </h6>
        </div><!-- col -->
      </div><!-- row-->

    </div> 
    <!-- Footer Links -->

</footer>
<!-- Footer -->
