<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
  <link rel="stylesheet" type="text/css" href="/stylesheets/dashboard.css" />
</head>

<body>
  <%- include('../partials/navbar.ejs', { forceThisAsActiveBlog: true }) %>
  <%- include('../partials/masthead.ejs', { uri: locals.uri }) %>

  <div class="container">
    <div class="row">
      <div class="col"></div>
      <div id="back-to-dash-button" class="col-md-6 text-center mb-3 collapse"> 
        <a href="/dashboard"><button type="button" class="btn btn-sm btn-primary">
          <span class='oi oi-home' title='Back to Dashboard' aria-hidden='true'></span>
          Back to Dashboard
        </button></a>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col"></div>
      <div id="dashboard-menu" class="col-md-6 text-center">
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-post-modal">
          <span class='oi oi-pencil' title='New post' aria-hidden='true'></span>
          New post
        </button>
        <a href="/dashboard/posts"><button type="button" class="btn btn-sm btn-secondary" id="posts-page-button">
          <span class='oi oi-book' title='My posts' aria-hidden='true'></span>
          My posts
        </button></a>
        <a href="/dashboard/queue"><button type="button" class="btn btn-sm btn-secondary collapse" id="queue-page-button">
          <span class='oi oi-clock' title='My queue' aria-hidden='true'></span>
          My queue
        </button></a>
        <a href="/settings"><button type="button" class="btn btn-sm btn-secondary" id="settings-page-button">
          <span class='oi oi-cog' title='Settings' aria-hidden='true'></span>
          Settings
        </button></a>
      </div>
      <div class="col"></div>
    </div>

    <div class="row">
      <div class="col">
        <div id="news-top" class="mb-1 collapse"></div>
      </div>
    </div>

    <div id="dashboard-view" class="row mt-5">
      <div class="col"><div class="news-container sticky-top py-1">
        <div id="news-left" class="collapse"></div>
        </div></div>
      <div class="col-md-6">
        <div id="posts" class="grid">
          <div class="grid-sizer col-md-12"></div>
        </div>

        <div id="posts-status" class="collapse text-center">
          <% include ../partials/loading_spinner.ejs %>
        </div>
        <div id="posts-button" class="collapse text-center">
          <div class="d-none button more-button">more</div>
        </div>

      </div><!--col-->
      <div class="col"><div class="news-container sticky-top py-1">
        <div id="news-right" class="collapse"></div>
        <% include ../partials/footer.ejs %>
      </div></div>
    </div><!--row-->

    <div id="posts-template" class="d-none">
      <div class="grid-item col-md-12">
      <div class="card mb-4">
        <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
        <div class="card-authorbar">
         <a class="card-author-link" href="#"><div class="d-inline-block mx-1 my-2 card-author-avatar"></div></a>
         <a class="card-author-post-link small py-2" href="#"><div class="d-inline-block card-author"></div></a>
         <a class="card-reblog-author-post-link small py-2" href="#">
           <div class="d-inline-block card-reblog-author"></div></a>
        </div>
        <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
        <div class="card-body">
          <a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
          <div class="card-text"></div>
        </div>

        <div class="card-action-bar p-1">
          <div class="row">
            <div class="col text-right">
              <div class='d-inline-block card-like-button oi oi-heart action-bar-button' title='Like' aria-hidden='true'></div>
              <div class='d-inline-block card-reblog-button oi oi-loop action-bar-button' title='Reblog' aria-hidden='true'></div>
              <div class='collapse card-post-now-button oi oi-check action-bar-button' title='Post now' aria-hidden='true'></div>
            </div>
          </div><!--row-->
        </div><!--card-action-bar-->
      </div><!--card-->
      </div><!--grid-item-->
    </div><!--posts-template-->
  </div><!--container-->

  <div class="modal fade" tabindex="-1" role="dialog" id="create-post-modal"
    data-backdrop="static">
    <div class="modal-dialog" role="document"><div class="modal-content">
      <div class="modal-header">
        <div class="avatar collapse"></div>
        <h5 class="modal-title">
          <span class="action">New post</span>
          <span class="target-name"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--header-->
      <div class="modal-body"><form id="create-post-form" data-mode="new">
        <div class="form-group">
          <label>Title</label>
          <input type="text" class="form-control form-control-sm form-post-title" 
            value="" placeholder="Title" autofocus />
        </div>

        <div class="form-group">
          <label>Image</label>
          <input type="text" class="form-control form-control-sm form-post-thumb" 
            value="" placeholder="Thumbnail URL" />
          <input type="text" class="form-control form-control-sm form-post-image" 
            value="" placeholder="Image URL" />

          <div class="form-post-image-uploader-wraper collapse">
            <div class="progress form-img-file-progress" style="height: 0px">
              <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
            </div>
            <input type="file" class="form-control-file form-control-sm form-img-file" accept="image/*" data-max-size="5000"/>
          </div><!--form-post-image-uploader-wrapper-->
        </div>

        <div class="form-group">
          <label>URL</label>
          <input type="text" class="form-control form-control-sm form-post-url" 
            value="" placeholder="URL" />
        </div>
          <input type="hidden" class="form-post-reblog-url" value="">
          <input type="hidden" class="form-post-enqueue" value="">
          <input type="hidden" class="form-post-update-id" value="">

        <div class="form-group">
          <label>Text</label>
          <textarea class="form-control form-control-sm form-post-text" rows="5" placeholder="Text"></textarea>
        </div>

        <div class="form-group">
          <label>Tags</label>
          <input type="text" class="form-control form-control-sm form-post-tags" 
            value="" placeholder="Tags" />
        </div>
      </form></div><!--body-->
      <div id="create-post-success-alert" 
        class="alert alert-success collapse" role="alert">Post saved!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
          id="create-post-save-button">
          <span class='oi oi-pencil' title='Post' aria-hidden='true'></span>
          <span class='label'>Post</span>
        </button>

        <div class="dropdown d-inline-block">
          <button class="btn btn-outline-secondary btn-sm 
                         dropdown-toggle collapse"
            type="button" id="create-post-mode-dropdown-button"
            data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false"></button>
          <div id="create-post-mode-dropdown"
            class="dropdown-menu dropdown-menu-right"
            aria-labelledby="create-post-mode-dropdown-button">
            <div class="dropdown-item" style="cursor:pointer" data-mode="queue">Add to queue</div>
            <div class="dropdown-item" style="cursor:pointer" data-mode="post">Post now</div>
          </div>
        </div>

        <!--
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        -->
      </div><!--footer-->
    </div></div><!--document-->
  </div><!--modal-->

  <div class="modal fade" tabindex="-1" role="dialog" id="follow-modal">
    <div class="modal-dialog" role="document"><div class="modal-content">
      <div class="modal-header">
        <div class="avatar collapse"></div>
        <h5 class="modal-title">
          <span class="action">Follow</span>
          <span class="target-name"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--header-->
      <div class="modal-body"><form id="follow-form">
        <div class="form-group">
          <input type="text" class="form-control form-follow-url" 
            value="" placeholder="Blog URL">
        </div>
      </form></div><!--body-->
      <div id="follow-success-alert" 
        class="alert alert-success collapse" role="alert">Follow success!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
          id="follow-save-button">
          <span class='oi oi-plus' title='Follow' aria-hidden='true'></span>
          Follow
        </button>
        <!--
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        -->
      </div><!--footer-->
    </div></div><!--document-->
  </div><!--modal-->

  <div class="modal fade" tabindex="-1" role="dialog" id="unfollow-modal">
    <div class="modal-dialog" role="document"><div class="modal-content">
      <div class="modal-header">
        <div class="avatar collapse"></div>
        <h5 class="modal-title">
          <span class="action">Unfollow</span>
          <span class="target-name"></span>
        </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div><!--header-->
      <div class="modal-body"><form id="unfollow-form">
        <div class="form-group">
          <input type="text" class="form-control form-unfollow-url" 
            value="" placeholder="Blog URL">
        </div>
      </form></div><!--body-->
      <div id="unfollow-success-alert" 
        class="alert alert-success collapse" role="alert">Unfollow success!</div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" 
          id="unfollow-save-button">
          <span class='oi oi-minus' title='Unfollow' aria-hidden='true'></span>
          Unfollow
        </button>
        <!--
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        -->
      </div><!--footer-->
    </div></div><!--document-->
  </div><!--modal-->

  <div id="no-posts-message" class="mt-5 text-center collapse">
    <img id="center-logo" src="/media/logoLight.png" class="mb-3"/>
    <div class="text-secondary">No posts found</div>
    <div class="mt-5"></div>
    <% include ../partials/footer.ejs %>
  </div>

  <div id="no-queued-message" class="mt-5 text-center collapse">
    <img id="center-logo" src="/media/logoLight.png" class="mb-3"/>
    <div class="text-secondary">No queued posts</div>
    <div class="mt-5"></div>
    <% include ../partials/footer.ejs %>
  </div>

  <div id="no-follows-message" class="mt-5 text-center collapse">
    <img id="center-logo" src="/media/logoLight.png" class="mb-3"/>
    <div class="text-secondary">Nothing to see in your feed yet</div>
    <div class="text-secondary">Please follow more blogs</div>
    <div class="mt-5"></div>
    <% include ../partials/footer.ejs %>
  </div>

  <% include ../partials/kalona.ejs %>

  <script>
    <% include ../partials/dashboard.ejs %>
    <% include ../partials/reblog_button.ejs %>
    <% include ../partials/like_button.ejs %>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/news.ejs %>
    <% include ../partials/image_uploader.ejs %>

    /* 
     * Dashboard action handlers
     */
    Dashboard.init({
      "postSelector": "#create-post",
      "followSelector": "#follow",
      "unfollowSelector": "#unfollow",
      "queuePageButtonSelector": "#queue-page-button"
    });

    var _isPostsPage = window.location.pathname.indexOf("posts") != -1;
    var _isQueuePage = window.location.pathname.indexOf("queue") != -1;

    /*
     * Dashboard top menu
     */
    if (_isPostsPage || _isQueuePage)
    {
      $("#back-to-dash-button").show();
      $("#dashboard-menu").hide();
    }

    /*
     * Dashboard feed
     */
    var renderUris = <%- JSON.stringify(render_uris) %>;

    // enable 'post now' button if on Queue page
    if (_isQueuePage)
      $("#posts-template .card-post-now-button").addClass("d-inline-block");

    // draw the feed
    var renderer = new RenderFeed({
      "uris": renderUris,
      "selector": "#posts",
      "onNoPosts": function() {
        $("#dashboard-view").hide();
        if (_isPostsPage)
          $("#no-posts-message").show();
        else if (_isQueuePage)
          $("#no-queued-message").show();          
        else
          $("#no-follows-message").show();          
      },
      "postImagePref": ["images", "thumbs"],
      "numPostsPerFetch": <%= NUM_POSTS_PER_FETCH %>,
      "enforceOrder": (renderUris.length == 1)? true : false
    });

    // draw news panels
    var news = new News({
      "url": "<%= MASTER_NEWS %>",
      //"url": "http://localhost:5000/news_sample.json", // ANDBG
      "selector": "#news",
      "page": "dashboard"
    });

    console.log(JSON.stringify(new Date()));
  </script>
</body>
</html>
