<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
<%- include('../partials/masthead.ejs', {uri: locals.uri})  %>
<div class="container">
  <div class="row">
    <div class="col"></div>
    <div class="col-sm-12 col-md-4 text-center mt-5">
      <img id="center-logo" class="mb-4" src="/media/logoLight.png" />
      <form action="/login" method="post">
      	<input type="hidden" name="username" value="admin"/>
      
      	<div>
      	<label>Enter password:</label>
      	<input type="password" class="form-control" name="password"
          placeholder="Password" autofocus />
      	</div>

      	<div class="mt-3">
        <button type="submit" class="btn btn-primary" title="Sign in">
          Sign in
        </button>
      	</div>

      	<div id="main-cta" class="mt-5 mb-5 small text-secondary">
          Join 
          <b><%= SITE_NAME %></b> 
          and say f- you to tumblr<br/>
          get your free blog 
          <a href="<%= MASTER_URL %>">here</a>!
        </div>
      	<div id="error-cta" class="mt-5 mb-5 text-secondary alert alert-danger collapse">
          Can't sign in? Are you sure this blog belongs to you?
          Why not join the fun and get your own free 
          <b><%= SITE_NAME %></b> blog 
          <a href="<%= MASTER_URL %>">here</a>!
        </div>
      </form>
    </div>
    <div class="col"></div>
  </div><!--row-->
</div><!--container-->
<script>
if (window.location.href.indexOf("error") != -1)
{
  $("#main-cta").hide();
  $("#error-cta").show();
}
</script>
</body>
</html>
