<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/post.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>

  <div class="container">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-5">
        <%= base_url %>
        <%= post.id %>
        <%= post.title %>
        <%= post.text %>
        <%= post.date %>
        <%= post.post_url %>
      </div>
      <div class="col"></div>
    </div><!--row-->
  </div><!--container-->
</body>
</html>

