<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <% include ../partials/nsfw_overlay.ejs %>
  <% include ../partials/masthead.ejs %>

  <!-- feed view -->

  <div class="container">
    <div id="feed-grid" class="grid">
      <div class="grid-sizer col-md-4"></div>
    </div><!--feed-grid-->
  </div><!--container-->

  <div id="feed-grid-button" class="collapse text-center">
    <div class="button more-button">more</div>
  </div>

  <div id="feed-grid-template" class="d-none">
    <div class="grid-item col-md-4">
    <div class="card grid-item-content">
      <div class="card-overlay collapse">
        <span class='reblog-button oi oi-loop' title='Reblog' aria-hidden='true'></span>
      </div>
      <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
      <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
			<div class="card-body">
				<a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
				<p class="card-text"></p>
			</div>
    </div><!--card-->
    </div><!--grid-item-->
  </div><!--feed-grid-template-->

  <!-- single post view -->

  <div class="container">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-8 collapse" id="post-container">
        <div class="reblog-info collapse">
          <div class='oi oi-loop' aria-hidden='true'></div>
          <a class="reblog-author-post-link ml-2" href="#">
            <div class="d-inline-block reblog-author"></div></a>
        </div><!--reblog-info-->
        <a class="img-top-link" href="#"><img class="img-top mb-3" src=""/></a>
        <div class="action-bar mb-3 px-2">
          <div class="row">
            <div class="col">
              <div class="date small"></div>
            </div>
            <div class="col text-right">
              <div class='reblog-button oi oi-loop action-bar-button' title='Reblog' aria-hidden='true'></div>
            </div>
          </div><!--row-->
        </div><!--action-bar-->
        <a class="title-link" href="#"><h5 class="title"></h5></a>
        <div class="text"></div>
      </div>
      <div class="col"></div>
    </div><!--row-->
  </div><!--container-->

  <div id="no-posts-message" class="text-center collapse">
    <img id="center-logo" src="/media/logoLight.png" class="mb-3"/>
    <div>No posts yet</div>
  </div>

  <% include ../partials/footer.ejs %>
  <% include ../partials/kalona.ejs %>

  <script>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
    <% include ../partials/follow_button.ejs %>
    <% include ../partials/reblog_button.ejs %>
  
    var renderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      if (data.style_url)
        addCss(data.style_url);
      if (data.name)
        $("title").prepend(data.name + " - ");

      if (data.posts)
      {
        var cfg = {
          "uris": ["<%= uri %>"],
          "selector": "#feed-grid",
          "onNoPosts": function() {
            $("#no-posts-message").show();          
          },
          "numPostsPerFetch": <%= NUM_POSTS_PER_FETCH %> * 2
        };
        renderer = new RenderFeed(cfg);
      }
      else
      {
        var cfg = {
          "uri": "<%= uri %>",
          "selector": "#post-container"
        };
        renderer = new RenderPost(cfg);
      }

      // add Follow button to navbar
      var urlObj = new URL("<%= uri %>");
      var urlBase = urlObj.protocol + "//" + urlObj.host;
      var followTarget = urlBase + "/feed";
      if (data.blog_url)
        followTarget = data.blog_url + "/feed";
      Navbar.addFollowButton(followTarget);
    });  

    function addCss(cssPath) {
      var stylesheet = document.createElement("link");
      stylesheet.href=cssPath;
      stylesheet.rel="stylesheet";
      stylesheet.type = 'text/css';
      document.getElementsByTagName("head")[0].appendChild(stylesheet);
      window.___gcfg={parsetags:'onload'};
    }
  </script>
</body>
</html>
