<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/masonry/4.2.2/masonry.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.imagesloaded/4.1.4/imagesloaded.pkgd.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-infinitescroll/3.0.5/infinite-scroll.pkgd.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/render.css" />
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <% include ../partials/nsfw_overlay.ejs %>
  <% include ../partials/masthead.ejs %>

  <div class="mt-3">&nbsp;</div>

  <!-- feed view -->

  <div id="feed-view" class="collapse 
    <% if (fullscreen) { %>
      container-fluid
    <% } else { %>
      container
    <% } %>
  ">
    <div id="feed-grid-top-right-menu"></div>

    <div id="feed-grid" class="grid">
      <div class="grid-sizer 
        <% if (fullscreen) { %>
          col-md-3 col-lg-2 px-md-1 px-lg-2 mb-md-2 mb-lg-3
        <% } else { %>
          col-md-4 px-md-2 px-lg-3 mb-md-3 mb-lg-4
        <% } %>
      "></div>
    </div><!--feed-grid-->
  </div><!--container-->

  <div id="feed-grid-button" class="collapse text-center">
    <div class="button more-button">more</div>
  </div>

  <div id="feed-grid-template" class="d-none">
    <div class="grid-item 
      <% if (fullscreen) { %>
          col-md-3 col-lg-2 px-md-1 px-lg-2 mb-md-2 mb-lg-3
      <% } else { %>
        col-md-4 px-md-2 px-lg-3 mb-md-3 mb-lg-4
      <% } %>
    ">
    <div class="card grid-item-content">
      <div class="card-overlay collapse">
        <span class='card-reblog-button oi oi-loop' title='Reblog' aria-hidden='true'></span>
      </div>
      <a class="card-img-fold-link" href="#"><span class="fold"></span></a>
      <a class="card-img-top-link" href="#"><img class="card-img-top" src=""/></a>
			<div class="card-body">
				<a class="card-title-link" href="#"><h5 class="card-title"></h5></a>
				<p class="card-text"></p>
			</div>
    </div><!--card-->
    </div><!--grid-item-->
  </div><!--feed-grid-template-->

  <!-- single post view -->

  <div id="single-post-view" class="container collapse">
    <div class="row mb-4">
      <div class="col"></div>
      <div class="col-md-8 collapse" id="post-container">
        <div class="reblog-info collapse">
          <div class='oi oi-loop' aria-hidden='true'></div>
          <a class="reblog-author-post-link ml-2" href="#">
            <div class="d-inline-block reblog-author"></div></a>
        </div><!--reblog-info-->
        <a class="img-top-link" href="#"><img class="img-top mb-3" src=""/></a>
        <div class="action-bar mb-3 px-2">
          <div class="row">
            <div class="col">
              <div class="date small"></div>
            </div>
            <div class="col text-right">
              <div class='reblog-button oi oi-loop action-bar-button' title='Reblog' aria-hidden='true'></div>
            </div>
          </div><!--row-->
        </div><!--action-bar-->
        <a class="title-link" href="#"><h5 class="title"></h5></a>
        <div class="text"></div>
      </div>
      <div class="col"></div>
    </div><!--row-->
  </div><!--container-->

  <div id="no-posts-message" class="text-center collapse">
    <img id="center-logo" src="/media/logoLight.png" class="mb-3"/>
    <div>No posts yet</div>
  </div>

  <div class="mb-5">&nbsp;</div>

  <% include ../partials/footer.ejs %>
  <% include ../partials/kalona.ejs %>

  <script>
    <% include ../partials/reblog_button.ejs %>
    <% include ../partials/render_feed.ejs %>
    <% include ../partials/render_post.ejs %>
    <% include ../partials/follow_button.ejs %>
    <% include ../partials/utils.ejs %>
  
    var renderer = null;
  
    $.getJSON("<%= uri %>", function(data) {
      if (data.style_url)
        Utils.addCss(data.style_url);

      if (data.posts)
      {
        // feed view
        $("#feed-view").show();
        var cfg = {
          "uris": ["<%= uri %>"],
          "selector": "#feed-grid",
          "onNoPosts": function() {
            $("#no-posts-message").show();          
          },
          "postImagePref": ["thumbs", "images"],
          "numPostsPerFetch": <%= NUM_POSTS_PER_FETCH %> 
            <% if (fullscreen) { %>
              * 5
            <% } else { %>
              * 3
            <% } %>
        };
        renderer = new RenderFeed(cfg);

        // activate top right menu buttons 
        if (typeof URLSearchParams !== 'undefined')
        {
          var url = new URL(window.location.href);
          var params = new URLSearchParams(url.search);
          if (!params.has("fullscreen"))
          {
            $("#feed-grid-top-right-menu").append(
              '<span id="fullscreen-button" class="button oi oi-grid-four-up"'
              + ' title="Fullscreen" aria-hidden="true"></span>');
            $("#fullscreen-button").click(function() {
              params.set('fullscreen', '1');
              url.search = params.toString();
              window.location.href = url;
            });
          }
          else
          {
            $("#feed-grid-top-right-menu").append(
              '<span id="normscreen-button" class="button oi oi-grid-three-up"'
              + ' title="Normal view" aria-hidden="true"></span>');
            $("#normscreen-button").click(function() {
              params.delete('fullscreen');
              url.search = params.toString();
              window.location.href = url;
            });
          }
        }
      }
      else
      {
        // single-post view
        $("#single-post-view").show();
        var cfg = {
          "uri": "<%= uri %>",
          "selector": "#post-container"
        };
        renderer = new RenderPost(cfg);

        Navbar.activateDeleteButton("<%= uri %>");
      }

      // add Follow button to navbar
      var urlObj = new URL("<%= uri %>");
      var urlBase = urlObj.protocol + "//" + urlObj.host;
      var followTarget = urlBase + "/feed";
      if (data.blog_url)
        followTarget = data.blog_url + "/feed";
      Navbar.addFollowButton(followTarget);
    });  
  </script>
</body>
</html>
