<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
  <% if (typeof site_template !== 'undefined' && site_template.dark_mode) { %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/dark.css" />
  <% }  %>
</head>

<body>
  <% include ../partials/navbar.ejs %>
  <%- include('../partials/masthead.ejs', { uri: locals.uri }) %>

  <div class="container mb-5">
    <div class="row mb-3 text-center">
      <div class="col">
      <a href="/dashboard"><button type="button" class="btn btn-sm btn-primary">
        <span class='oi oi-home' title='Back to Dashboard' aria-hidden='true'></span>
        Back to Dashboard
      </button></a>
      </div>
    </div>

    <div class="row">
      <div class="col">
      </div>
      <div class="col-md-6">
        <form id="settings-form">
          <div class="form-group">
          <label>Blog name</label>
          <input type="text" class="form-control form-control-sm form-name" 
            value="<%= settings.name %>" placeholder="Blog name" autofocus />
          </div>

          <div class="form-group">
          <label>Blog description</label>
          <textarea class="form-control form-control-sm form-description" 
            placeholder="Blog description" rows=1><%= settings.description %></textarea>
          </div>

          <div class="form-group">
          <label>Avatar image URL</label>
          <input type="text" class="form-control form-control-sm form-avatar" 
            value="<%= settings.avatar_url %>" placeholder="Avatar image URL" />
          <% if (settings.imgur_key || HOME_UPLOAD_KEY) {%>
          <div class="progress form-avatar-file-progress" style="height: 0px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <input type="file" class="form-control-file form-control-sm form-avatar-file" accept="image/*" data-max-size="5000"/>
          <% } %>
          </div>

          <div class="form-group">
          <label>Header image URL</label>
          <input type="text" class="form-control form-control-sm form-header" 
            value="<%= settings.header_url %>" placeholder="Header image URL" />
          <% if (settings.imgur_key || HOME_UPLOAD_KEY) {%>
          <div class="progress form-header-file-progress" style="height: 0px">
            <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
          </div>
          <input type="file" class="form-control-file form-control-sm form-header-file" accept="image/*" data-max-size="5000"/>
          <% } %>
          </div>

          <div class="form-group">
          <label>Change password</label>
          <input type="password" class="form-control form-control-sm form-password" 
            value="" placeholder="New password" />
          </div>

          <div class="form-group"><div class="form-check">
          <input class="form-check-input form-darkmode" type="checkbox" 
            <%if (settings.dark_mode) { %>
            checked
            <% } %>
            id="check-darkmode">
          <label class="form-check-label" for="check-darkmode">
            dark mode
          </label>
          </div></div>

          <div class="form-group"><div class="form-check">
          <input class="form-check-input form-nsfw" type="checkbox" 
            <%if (settings.nsfw) { %>
            checked
            <% } %>
            id="check-nsfw">
          <label class="form-check-label" for="check-nsfw">
            has NSFW content
          </label>
          </div></div>

          <a class="" data-toggle="collapse" href="#advanced-settings" role="button" aria-expanded="false" aria-controls="advanced-settings">
            advanced settings
          </a>
          <div id="advanced-settings" class="collapse mt-2">
            <div class="form-group">
            <label>Imgur client ID 
              (<a href="https://github.com/secretsciencelab/secretcampfire/blob/master/docs/ADVANCED.md#how-to-unlock-image-file-uploads">info</a>)
            </label>
            <input type="text" class="form-control form-control-sm form-imgur-key" 
             value="<%= settings.imgur_key %>" placeholder="Imgur client ID (to use Imgur for image file uploads)" />
            </div>

            <div class="form-group">
              <label>Auto-publish queued posts
                (<a href="https://github.com/secretsciencelab/secretcampfire/blob/master/docs/ADVANCED.md#how-to-unlock-queued-posting">info</a>)
                <br/>
                <div class="small">warning: using queued posts may prevent your blog from sleeping</div></label>
            <input type="text" class="form-control form-control-sm form-queue-interval" 
             <% if (settings.queue_interval) { %>
              value="<%= settings.queue_interval %>"
             <% } else { %>
              value="" 
             <% } %>
             placeholder="E.g., enter '60' for 'every 60 minutes'" />
            </div>

            <div class="form-group">
            <label>&lt;head&gt; custom code</label>
            <textarea class="form-control form-control-sm form-custom-head" 
              placeholder="Custom code to inject into <head>" rows=1><%= settings.custom_head %></textarea>
            </div>

          </div><!--advanced-settings-->

        </form>
        <div id="success-alert" 
          class="alert alert-success collapse" role="alert">Settings saved!</div>
        <button type="button" class="mt-3 btn btn-primary" 
          id="settings-save-button">Save settings</button>
      </div>
      <div class="col">
      </div>
    </div><!--row-->
  </div><!--container-->

  <% include ../partials/footer.ejs %>

  <script>
    <% include ../partials/image_uploader.ejs %>

    $("#settings-save-button").click(function(e) {
      e.preventDefault();

      var form = $("#settings-form");
      var name = form.find('.form-name').val();
      var description = form.find('.form-description').val();
      var avatar = form.find('.form-avatar').val();
      var header = form.find('.form-header').val();
      var password = form.find('.form-password').val();
      var darkMode = form.find('.form-darkmode').is(":checked");
      var nsfw = form.find('.form-nsfw').is(":checked");
      var imgur = form.find('.form-imgur-key').val();
      var queueInterval = form.find('.form-queue-interval').val();
      if (!queueInterval)
          queueInterval = 0;
      var customHead = form.find('.form-custom-head').val();

      $.post('/settings', { 
        name: name,
        description: description,
        avatar_url: avatar,
        header_url: header,
        password: password,
        dark_mode: darkMode,
        nsfw: nsfw,
        imgur_key: imgur,
        queue_interval: queueInterval,
        custom_head: customHead
      },
      function(data, status, xhr) {
        // success
        $("#success-alert").fadeIn().delay(800).fadeOut();
        Masthead.update();
        console.log(data);
      },
      'json')
      .done(function() {
      })
      .fail(function(jqxhr, settines, ex) {
      });

      return false;
    });

    <% if (settings.imgur_key || HOME_UPLOAD_KEY) { %>
      var avatarUploaderCfg = {
        selector: "#settings-form .form-avatar-file",
        onUploadStart: function() {
          $("#settings-form .form-avatar-file-progress").css('height', '3px');
        },
        onUploadDone: function(data) {
          $("#settings-form .form-avatar-file-progress").css('height', '0px');
          $("#settings-form .form-avatar").val(data.thumb);
        }
      };

      var headerUploaderCfg = {
        selector: "#settings-form .form-header-file",
        onUploadStart: function() {
          $("#settings-form .form-header-file-progress").css('height', '3px');
        },
        onUploadDone: function(data) {
          $("#settings-form .form-header-file-progress").css('height', '0px');
          $("#settings-form .form-header").val(data.image);
        }
      };

      var avatarUploader = null;
      var headerUploader = null;
      <% if (settings.imgur_key) { %>
      avatarUploaderCfg.key = "<%= settings.imgur_key %>";
      headerUploaderCfg.key = "<%= settings.imgur_key %>";
      var avatarUploader = new ImgurUploader(avatarUploaderCfg);
      var headerUploader = new ImgurUploader(headerUploaderCfg);
      <% } else if (HOME_UPLOAD_KEY) { %>
      avatarUploaderCfg.key = "<%= HOME_UPLOAD_KEY %>";
      headerUploaderCfg.key = "<%= HOME_UPLOAD_KEY %>";
      var avatarUploader = new ScampyUploader(avatarUploaderCfg);
      var headerUploader = new ScampyUploader(headerUploaderCfg);
      <% } %>
    <% } %>
  </script>
</body>
</html>

